<!DOCTYPE html>
<html lang ='no'>
    <head>
    <meta charset="utf-8">
        <title>{{ title }}</title>
    </head>
    
    <body>
        <h2>{{title}}</title>
        <p>Nå er klokken {{ time }} på serveren.</p>
        
        <p>
        {{action_description}}
        </p>

        <div><a href="/26/on/5" class=="button">Skru på vannpumpe nr 1 i fem sekunder</a></div>
        <div><a href="/26/of/0" class=="button">Skru av vannpumpe nr 1</a></div>



        
        
    </body>
</html>
       